.pixelify-sans- uniquifier {
  font-family: "Pixelify Sans", sans-serif;
}
 div.wrapper {
            position:  absolute;
            top : 270px;
            left: 680px;
            width: 200px;
            height:300px;
            
        }

        input[type="text"] {
             position: relative;
             display: block;
             margin : 0 auto;
        }
#gradient {
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  background-color: rgb(0, 0, 0); 
  background-image: radial-gradient(rgb(56, 56, 56), rgb(0, 0, 0));
  background-size: cover;
}
p {
       font-family: "Pixelify Sans"; color:rgb(255, 226, 242) 
}
p {
    animation: textappear 6s;
}

@keyframes textappear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

body{
    font-size: 20px;
}
.catgif {
    margin: auto;

}

#button3{
        position: absolute;
        right: 10vw;
        top: 30vw;
        bottom: 10vw;
        font-family: "Pixelify Sans";
}
.hidden{
  display: none;
}

#hamster{
  position: absolute;
  width: 220px;
  height: 250px;
  top: 100px;
  left: 500px;
  right: 100px;
}

/*shopping list page/*/

#bgcolor1 {
  height: 150vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(234, 132, 92); 
  background-image: url('images/kitchen-cat.jpg');
  background-size: cover;
}


div.list {
            position:  absolute;
            top : 200px;
            left: 300px;
            width: 350px;
            height:400px;
            font-family: "Pixelify Sans"; color:rgb(255, 89, 89);
            font-size: 40px;
            text-align: center;
          
        }
div.list{
  animation: text-color-change 20s;
}
a{
  text-decoration: none;
  color: black;
  font-family: "Pixelify Sans"; color:rgb(160, 20, 13) 
}
a{
  animation: text-color-change2 20s;
}

@keyframes text-color-change{
  0% { color: red; }
  50% { color: blue; }
  100% { color: green; }
}
@keyframes text-color-change2{
  0% { color: red; }
  50% { color: rgb(240, 113, 45); }
  100% { color: rgb(175, 163, 29); }
}





/* windows xp page /*/


@keyframes changeColor {
  0% { background-color: red; }
  100% { background-color: rgb(223, 32, 217); }
}

#bgcolor3 {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(255, 118, 164);
  background-image: url('images/cat-on-earth.jpg');
  background-size: cover;
}

#openButton{
  height: 50px;
  width: 30px;
  position: relative;
  top: 200px;
  left: 100px;
  right: 100px;

}

#button8{
  animation: buttonFade 5s
}

@keyframes buttonFade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#button8{
  position: relative;
  height: 100px;
  width: 100px;
  top: 50px;
  left: 230px;
  color:yellowgreen;
  font-size: 20px;
}

#button9{
  position: relative;
  height: 60px;
  width: 60px;
  top: 330px;
  left: 960px;
  font-size: 15px;
  color:rgb(191, 28, 255);
}

#button10{
  position: relative;
  height: 70px;
  width: 100px;
  top: 530px;
  left: 160px;
  font-size: 15px;
  color:crimson;
}













#bgcolor4 {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(255, 118, 164);
  background-image: url('images/clouds_wallpaper.jpg');
  background-size: cover;
}

.quiz-container{
  position:  absolute;
            top : 200px;
            left: 300px;
            width: 800px;
            height:400px;
            font-family: "Pixelify Sans"; color:rgb(0, 0, 0);
            font-size: larger;


}

/* no escape page /*/

.letter {
    animation: fadeIn 50s;
    font-family: Arizonia;
    font-size: 50px;
    text-shadow: yellow;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
    transform: translateY(700px);
  }
  100% {
    opacity: 1;
    transform: translateY(-800px);
  }
}
#bgcolor2 {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(255, 118, 164);
  background-image: url('images/cat_windows.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 200vh;
}